# Archivos sensibles
.env
secrets.yml

# Directorio para secretos del proyecto
secrets/

# Jenkins data y logs
jenkins_home/
*.log

# Volúmenes y cachés
**/__pycache__/
*.swp

# Otros comunes
.DS_Store
*.bak
*.tmps